@import 'variable.styl'
body, html
  min-height 100%
  font-size 62.5%
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  // user-select: none
  -webkit-tap-highlight-color transparent
  background #efefef
  color $color-text
  font-weight 300 !important
  ::-webkit-scrollbar
    display none
  input::-webkit-input-placeholder
    color #b4b4b4
    :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder
      color #b4b4b4
    ::-webkit-scrollbar
      width 0px
      height 1px
    ::-webkit-scrollbar-thumb
      border-radius 5px
      -webkit-box-shadow inset 0 0 5px rgba(0, 0, 0, 0.2)
      background rgba(0, 0, 0, 0.2)
input:-webkit-autofill
  -webkit-box-shadow 0 0 0px 1000px #fff inset !important // 关于解决输入框背景颜色
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance none !important
  margin 0
input[type='number']
  -moz-appearance textfield
.iconfont
  vertical-align sub
.border-top-1px, .border-right-1px, .border-bottom-1px, .border-left-1px
  position relative
  &:before, &:after
    content ''
    display block
    position absolute
    transform-origin 0 0
.border-top-1px
  &:before
    border-top 1px solid $border-color
    left 0
    top 0
    width 100%
    transform-origin 0 top
.border-right-1px
  &:after
    border-right 1px solid $border-color
    top 0
    right 0
    height 100%
    transform-origin right 0
.border-bottom-1px
  &:after
    border-bottom 1px solid $border-color
    left 0
    bottom 0
    width 100%
    transform-origin 0 bottom
.border-left-1px
  &:before
    border-left 1px solid $border-color
    top 0
    left 0
    height 100%
    transform-origin left 0
// 提示状态
// 状态标签
.tipSuccess
  border 1px solid #029E4A
  font-size 14px
  color #029E4A
  padding-top 2px
  padding-bottom 2px
  padding-left 16px
  padding-right 16px
  border-radius 4px
  background rgba(157, 221, 188, 0.4)
.tipError
  border 1px solid #FF2933
  font-size 14px
  color #FF2933
  padding-top 2px
  padding-bottom 2px
  padding-left 16px
  padding-right 16px
  border-radius 4px
  background rgba(255, 141, 148, 0.4)
.tipWait
  border 1px solid #FFAD33
  font-size 14px
  color #FFAD33
  padding-top 2px
  padding-bottom 2px
  padding-left 16px
  padding-right 16px
  border-radius 4px
  background rgba(246, 224, 188, 0.4)
.tipDoing
  border 1px solid #3377FF
  font-size 14px
  color #3377FF
  padding-top 2px
  padding-bottom 2px
  padding-left 16px
  padding-right 16px
  border-radius 4px
  background rgba(163, 211, 246, 0.4)
.tipSmall
  font-size 12px
.pager
  text-align right
  margin-top 40px
.btn
  border none
  outline none
  background #FF2933
  border-radius 4px
  color #ffffff
  font-size 14px
  line-height 36px
  height 36px
  min-width 74px
  text-align center
  padding-left 14px
  padding-right 14px
  cursor pointer
  margin-left 12px
  margin-right 12px
.btn:hover
  opacity 0.8
.btn-small
  height 22px
  line-height 22px
.small
  height 24px
  line-height 24px
.disabled
  cursor pointer
  color #9b9b9b
  background #ededed
.disabled-btn
  cursor not-allowed
  color #b7b7b7
  background #ededed
// 公共图标
.jdIcon
  background url('../image/jdIcon.svg') no-repeat
  background-size 100% 100%
.taobaoIcon
  background url('../image/taobaoIcon.svg') no-repeat
  background-size 100% 100%
.tianmaoIcon
  background url('../image/tianmaoIcon.svg') no-repeat
  background-size 100% 100%
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-top-1px
    &:before
      width 200%
      transform scale(0.7) translateZ(0)
  .border-right-1px
    &:after
      height 200%
      transform scale(0.7) translateZ(0)
  .border-bottom-1px
    &:after
      width 200%
      transform scale(0.7) translateZ(0)
  .border-left-1px
    &:before
      height 200%
      transform scale(0.7) translateZ(0)
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-top-1px
    &:before
      width 200%
      transform scale(0.5) translateZ(0)
  .border-right-1px
    &:after
      height 200%
      transform scale(0.5) translateZ(0)
  .border-bottom-1px
    &:after
      width 200%
      transform scale(0.5) translateZ(0)
  .border-left-1px
    &:before
      height 200%
      transform scale(0.5) translateZ(0)
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
  .border-top-1px
    &:before
      width 300%
      transform scale(0.333) translateZ(0)
  .border-right-1px
    &:after
      height 300%
      transform scale(0.333) translateZ(0)
  .border-bottom-1px
    &:after
      width 300%
      transform scale(0.333) translateZ(0)
  .border-left-1px
    &:before
      height 300%
      transform scale(0.333) translateZ(0)
