.content_info 
  .el-select .el-input
    width  384px
  .pullDown .el-select .el-input 
    width 120px
.contentPay .el-select .el-input ,.contentPay .el-input-group
  width 320px
.contentDelit  .el-select .el-input
  width 100px
.contentShop li .el-input
  width 240px
.infoMsg .el-input
  width 320px  

