//颜色
$color-normal = rgb(255,255,255)
$color-normal-d = rgba(255,255,255,0.8)
$color-text = #333333
$color-text-d = #666666
$color-text-dd = #999999
$color-text-white = #ffffff
$color-hover = #ff3341
//高度
$normal-height = 60px
$line-height = 40px
$box-height = 20px
$div-height = 36px
//字体
$font-size-normal = 14px
$font-size-small = 12px
$font-size-big = 16px
//主题色
$bg-small = #000
$bg-active = #263445
$bg-red = #ff3341
$bg-container = #f8f8f8
$bg-normal = #fff
$bg-head = #eeeeee
//
$shadow = 0 1px 5px 0 rgba(0, 0, 0, 0.2)
$border-color = #cccccc
